{{#each myRectangles}}
    <p><h3>Your rectangle's height is {{height}}</h3></p>
    <p><h3>Your rectangle's width is {{width}}</h3></p>
{{/each}}

{{#each allMyBlogPosts}}
    <div class="well">
        {{name}}
        <hr>
        <small>Posted at {{time}}</small>
    </div>
{{/each}}