
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/github-main"><b>GOALS APP</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/github-main" routerLinkActive='active'>Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/repos" routerLinkActive='active'>Repos</a>
      </div>
    </div>
  </nav>









<!-- <nav class="nav nav-masthead justify-content-center float-md-end">
    <a class="nav-link active" aria-current="page" href="/github-main">Home</a>
    <a class="nav-link" href="/repos">Repos</a>
    <a class="nav-link" href="#">Contact</a>
  </nav> -->