hkhkkkk
<body class="d-flex vh-100 text-center text-white bg-dark">
    
    <div class="cover-container d-flex w-100 h-100 p-2 mx-auto flex-column">
      <header class="mb-auto">
  
      </header>
    
      <main class="px-2">
        <h1>Enter your GitHub Username.</h1>
        <p class="lead mb-2">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
            <div class="col-auto">
              <form (ngSubmit)='submitUsername()' #gitForm='ngForm' name="gitForm">
                <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username">
                  <button  class="input-group-text btn btn-lg btn-success fw-bold border-white bg-secondary" type="submit">@
                  </button>
                </div>
              </form>
            
            </div>
       
      </main>

     
      <footer class="mt-auto text-white-50">
        <p>About the Developer <a href="#" class="text-white">Maryanne Njuguna</a>, by <a href="https://twitter.com/themaryanjuguna" class="text-white">themaryanjuguna</a>.</p>
      </footer>
    </div>    
    
</body>