<section>
  <div class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-5 mx-auto flex-column">
      <main class="row py-lg-5">
        <div class="col-md-8 offset-md-5 mb-3">
          <a
            href="/github-main"
            routerLink="/github-main"
            class="d-flex align-middle mx-5 mb-lg-0 text-white text-center text-decoration-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="100"
              height="100"
              fill="currentColor"
              class="bi bi-github align-middle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
              />
            </svg>
          </a>
        </div>
        <h1>Enter your GitHub Username.</h1>
        <p class="lead">
          Enter your GitHub Username to view your GitHub Repositories.
        </p>
        <div class="grid">
          <div class="col-md-8 mx-auto">
            <form
              action=""
              (ngSubmit)="findprofile()"
              class="search-form"
              autocomplete="off"
            >
              <div class="formgroup">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search git users with github"
                  [(ngModel)]="username"
                  name="username"
                  (keyup)="findprofile()"
                />
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
  </div>
</section>

<section>
  <div class="card mb-3 w-80 m-5">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ profile.avatar_url }}" alt="Github avatar" />
      </div>
      <div class="col-md-8 px-5">
        <div class="card-body">
          <div class="bg-light">
            <p>
              <span class="badge bg-success"
                >{{ profile.followers }} Followers</span
              >
              <span class="badge bg-warning mx-2"
                >{{ profile.following }} Following</span
              >
              <span class="badge bg-info mx-2"
                >{{ profile.public_gists }} public_gists</span
              >
              <span class="badge bg-secondary mx-2"
                >{{ profile.public_repos }} Public Repos</span
              >
            </p>
          </div>
          <h5 class="fs-3 card-title">
            {{ profile.name }} <br />
            <small
              >username:
              <span class="badge bg-success mt-2 p-2">{{
                profile.login
              }}</span></small
            >
          </h5>
          <p class="card-text"></p>
          <ul class="list-group">
            <li class="list-group" *ngIf="profile.bio">{{ profile.bio }}</li>
            <li class="list-group" *ngIf="profile.hireable">
              Available for hire
            </li>
            <li class="list-group" *ngIf="profile.blog">
              <a href="{{ profile.blog }}" target="_blank">{{
                profile.blog
              }}</a>
            </li>
            <li class="list-group" *ngIf="profile.email">
              <a href="emailto:{{ profile.email }}">{{ profile.email }}</a>
            </li>
          </ul>
          <p>
            <a
              href="{{ profile.html_url }}"
              target="_blank"
              class="btn btn-success btn-sm mt-5"
              >View Profile on GitHub</a
            >
          </p>
          <p class="card-text mt-5">
            <small class="text-muted"
              >Last updated {{ profile.updated_at }}</small
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 g-">
        <div *ngFor="let repo of repos">
          <

          <div class="col">
            <div class="card-body bg-white">
              <p class="card-text">{{ repo.description }} /p></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a
                    href="{{ repo.repo_url }}"
                    target="_blank"
                    class="btn btn-outline-secondary btn-sm"
                    >View</a
                  >
                  <a type="button" class="btn btn-sm btn-outline-secondary"
                    >Edit</a
                  >
                </div>
                <small class="text-muted">{{ repos.created_at }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <footer class="mt-5 p-5 bg-dark text-center text-white-50">
    <p>
      About the Developer
      <a href="https://linktr.ee/themaryanjuguna" class="text-white"
        >Maryanne Njuguna</a
      >, by
      <a href="https://twitter.com/themaryanjuguna" class="text-white"
        >themaryanjuguna</a
      >.
    </p>
  </footer>
</section>
